body {
  height: 763px;
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x: scroll; */
  background-color: var(--background-color);
  color: var(--text-color);


}
:root{
  --background-color: #121212;
  --text-color: #ffffff;
  --gray-color: rgba(66, 66, 66, 0.6);
  --lightblack-color: #211621;
}
